div.style1
{
    text-shadow:0 0 5px #FFD100,0 0 50px #FFD100,0px 0px 10
    px #FFD100, 0 0 150px #FFD100;color:#FFD100;
    background-color:#262626;
}

h1.style1
{
    text-shadow:0 0 2px rgb(0, 0, 0),0 0 30px  rgb(0, 0, 0),0px 0px 5px  rgb(255, 239, 8), 0 0 150px rgb;color: rgb(0, 0, 0);
    background-color:rgb(255, 239, 8)
}

#menu
{
    padding: 0;
    margin-top: 0%;
    height: 50px;
    background-color: rgb(255, 29, 4);
}



#nav
{
    
    margin-top: 50px;
    height: 50px;
    background-color: rgb(255, 29, 4);
    text-align: center;
}

#nav li
{
display: inline;
    list-style: none;
}




#nav a {
	display:inline-block;
	margin:  30px;
}


