div.style1
{
    text-shadow:0 0 5px #FFD100,0 0 50px #FFD100,0px 0px 10
    px #FFD100, 0 0 150px #FFD100;color:#FFD100;
    background-color:#262626;
}


#menu
{
    margin: 0;
    padding: 0;
    font-size: 25px;   /*Taille de texte*/
    height: 50px;
    background-color: rgb(125, 40, 221);
    text-align: center;
    color: azure;
    font-family: Brush Script MT, Brush Script Std, cursive ;
    font-style: italic;
}


#nav
{
    
    margin-top: -16px;
    height: 50px;
    background-color: rgb(125, 40, 221);
    text-align: center;
    color: azure;
    font-family: Brush Script MT, Brush Script Std, cursive ;
    font-style: italic;
    font-size: 25px;
}

#nav li
{
display: inline;
    list-style: none;
}




#nav a {
	display:inline-block;
	margin:  30px;
}

/*positionnement image de fond*/
body
 {

background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
  background-position:center center;
  background-size: 100%;
 }

 #menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(125, 40, 221);
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#000;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}